# This project requires Python 3.10. 
# Use the following command to create the virtual environment:
# mkvirtualenv --python=/usr/bin/python3.10 venv_iris_api

Flask==3.1.0
pandas==2.2.3
pip==22.1.2
scikit-learn==1.5.2
